.div-calendar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar {
    text-align: center;
    width: 40%;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.rdp-root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.div-boton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 180px;
}

.boton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    background-color: #B56B7E;
    color: #fff;
    border-radius: 11px;
    border-color: #B56B7E;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}