.div-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #eebdbd;
    width: 100%;
    max-width: 400px;
}

.div-hora {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.div-manicurista {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.boton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}