.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 180px;
    gap: 28px;
    background-color: #e4b7be;

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        gap: 10px;
    }
}

.link {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

.img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}