.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    margin: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.product-title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    text-align: center;
}

.description {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    text-align: center;
    flex-wrap: wrap;
}

.img-product {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
}

.category {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    text-align: center;
}