form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 180px;
    border-radius: 10px;
}

label {
    font-size: 20px;
    font-weight: semibold;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #B56B7E;
}

.select {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #B56B7E;
}

.boton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    background-color: #B56B7E;
    color: #fff;
    border-radius: 11px;
    border-color: #B56B7E;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

@media screen and (max-width: 865px) {
    form {
        padding: 30px 20px;
    }

}